@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
    /* Set your content font stack here: */
    font-family: 'Lato', sans-serif;
}



header #title {
	padding-left: 10px;
}

header.nav > .container > .nav-right > .nav-item:last-child:not(.is-tab) {
	padding-right: 10px;
}

header.nav .nav-menu .nav-item {
	border-bottom: 3px solid transparent;
}

header.nav .nav-menu .nav-item:hover:not(span), header.nav .nav-menu .nav-item.is-active {
	border-bottom: 3px solid gainsboro;
}

.hero-foot nav {
	justify-content: flex-end;
}

img {
	max-width: 100%;
}

/* main section content */

.stage ul {
}

.skill-icon {
	height: 100%;
    width: 100%;
    display: block;
    padding: 25px;
    border-radius: 25px;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}

.about {
	font-size: 15px;
	width: 100%;
    height: 100%;
    padding: 0 10px;
    display: flex;
}

.about ul {
	line-height: 45px;
}

.about ul li .about-icon {
	display: inline-block;
	margin-right: 10px;
	text-align: center;
}

.about ul li img {
	vertical-align: middle;

}

.about ul li img.icon-pin,
.about ul li img.icon-cutlery {
	width: 30px;
}

.about ul li img.icon-cat {
	width: 35px;
}

.about ul li img.icon-gears {
	width: 40px;
}

/* helper classes */

.rounded {
	border-radius: 5px;
}

.img-350 {
	width: 350px;
}


/* iframe website preview helpers */

.preview-container {
    max-width: 100%;
    width: 100%;
    height: 300px;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.website-preview {
    position: relative;
    -ms-zoom: 0.25;
    -moz-transform: scale(0.25);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.25);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.25);
    -webkit-transform-origin: 0 0;
}

.website-preview iframe {
    width: 400%;
    height: calc(300px * 4);
    opacity: 0;
    transition: all 0.5s ease;
}


.card-image {
    height: 300px;
}

.website-preview:after {
    content: "";
    width: 400%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 90px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.5s ease;

}

.website-preview.loading:after {
    background-color: black;
    content: "Loading...";
}

.website-preview:hover:after {
    content: "View Site";
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 100px;
    width: 400%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);;
    transition: all 0.5s ease;
    cursor: pointer;
}

/* Fix Card centering */
.website-card {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 80%;
}

/* Fix varying card content heights */
.website-card .card-content {
    height: 100px;
}


/* Fix the footer to the bottom */

.hero-foot {
    position: fixed;
    right: 15px;
    bottom: 0;
}

@media screen and (min-width: 437px) {
	.about {
		font-size: 17px;
	}
	.about ul {
		line-height: 50px;
	}
}

@media screen and (max-width: 768px) {
	.about ul li .about-icon {
		width: 20px;
	}
	.column.is-6.me-wrapper {
		width: 100%;
	}
	.column.is-6.about-wrapper {
		width: 100%;
	}
}


@media screen and (min-width: 769px) {
	.nav-right.nav-menu {
		display: flex !important;
	}
	.about {
		font-size: 18px;
	}
	.about ul {
		line-height: 60px;
	}
	.about ul li .about-icon {
		display: inline-block;
		width: 25px;
	}
	.column.is-6.me-wrapper {
		width: 40%;
	}
	.column.is-6.about-wrapper {
	width: 60%;
	}
}

@media screen and (min-width: 969px) {
	.about {
		font-size: 23px;
	}
	.about ul {
		line-height: 60px;
	}
}

@media screen and (min-width: 1207px) {
	.about {
		font-size: 30px;
	}
	.about ul {
		line-height: 80px;
	}
	.about ul li .about-icon {
		width: 50px;	
	}
}
