<div class="hero-head">
  <header class="nav">
    <div class="container">
      <div class="nav-left">
	<a class="nav-item" id="title" href="/">
	  <h1 class="title">Adrian Kothman</h1>
	</a>
      </div>
      <span class="nav-toggle" id="toggle">
	<span></span>
	<span></span>
	<span></span>
      </span>
      <div class="nav-right nav-menu">
	<a class="nav-item is-active about-me" href="/">
	  About
	</a>
	<a class="nav-item portfolio" href="/portfolio/">
	  Portfolio
	</a>
	<span class="nav-item">
	  <a class="button is-primary" href="mailto:abkothman@gmail.com" target="_blank">
	    <span class="icon">
	      <i class="fa fa-envelope"></i>
	    </span>
	    <span>Contact</span>
	  </a>
	</span>
      </div>
    </div>
  </header>
</div>
