
$font-title: 'Lora', serif;
$font-text: 'Merriweather', serif;

$base-color: #002638;
$complimentary-color: #676e79;


$background-primary: $base-color;
$background-secondary: white;

$color-primary: white;
$color-secondary: black;

$breakpoint: 680px;
