@import url('https://fonts.googleapis.com/css2?family=Honk&family=Nosifer&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --header-bg-color: #ffffa0;
    --body-bg-color:#deffed;
    --content-bg-color: white;
    --content-border: 2px solid black;
    --main-border-color: #1d1d1d;
    --other-border-color: lightgrey;
    --header-text-color: black;
    --header-text-muted-color: #fafafa;
    --header-border-color: black;
    --main-text-color: black;
    --text-color-muted: #404040;
    --link-color: #00003d;
    --link-color-hover: #5340a7;
    --description-list-item-border-color: #0f0f0f;
    --description-list-item-border-left-color: #6a50e7;
    --max-width: 55rem;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Space Grotesk", Verdana, Arial, sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    color: var(--main-text-color);
    min-height: 100dvh;
    background-color: var(--body-bg-color);
    /* background-image: url("./images/asylum.jpg"); */
    /* background-position: center; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    container-type: inline-size;
    .underline {
	text-decoration: underline;
    }
    img {
	max-width: 100%;
    }
    h1, h2, h3 {
	font-family: "Sour Gummy", Verdana, Arial, sans-serif;
    }
    p {
	/* text-indent: 1rem; */
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1rem;
	width: 100%;
	position: relative;
	&:last-child {
	    margin-bottom: 0rem;
	}
	/* &::before { */
	/*     content: '>'; */
	/*     position: absolute; */
	/*     left: 0; */
	/*     top: 0; */
	/*     text-indent: 0rem; */
	/*     color: var(-text-color-muted); */
	/* } */
    }
    div {
	display: flex;
	flex-direction: column;
    }
    
    #preamble {
	container-type: inline-size;
	container-name: preamble;
	width: 100%;
	border-bottom: var(--content-border);
	font-family: "Sour Gummy", Verdana, Arial, sans-serif;
	header {
	    container-type: inline-size;
	    container-name: header;
	    padding: 2rem;
	    padding-bottom: 5rem;
	    border-bottom: 1px solid var(--other-border-color);
	    background-color: var(--header-bg-color);
	    display: flex;
	    flex-direction: row;
	    justify-content: center;
	    /* Site Navigation */
	    nav {
		max-width: var(--max-width);
		width: 100%;
		ul {
		    list-style: none;
		    padding: 0;
		    margin: 0;
		    display: flex;
		    flex-direction: row;
		    align-items: flex-end;
		    justify-content: space-between;
		    /* The first list item contains the title and subtitle */
		    li:first-child {
			display: flex;
			flex-direction: column;
			flex: 1 1 0;
			h1 {
			    font-size: 2rem;
			    line-height: 2rem;
			    margin-bottom: .5rem;
			}
			h3 {
			    font-weight: normal;
			}
		    }
		    /* Everything besides the first list item is a nav-item */
		    li:not(:first-child) {
			margin-left: 1rem;
			list-style: none;
			display: flex;
			flex-direction: row;
			position: relative;
			a, a:visited, a:active {
			    position: relative;
			    display: flex;
			    flex-direction: row;
			    padding: .25rem .5rem;
			    &::before {
				content: '';
				position: absolute;
				display: inline-flex;
				margin-right: .25rem;
				border-left: 2px solid var(--header-border-color);
				height: 100%;
				left: 0;
				bottom: 0;
			    }
			    &::after {
				position: absolute;
				content: ' ';
				bottom: 0;
				left: 0;
				width: 0%;
				display: inline-block;
				border-bottom: 1px solid var(--header-border-color);
				transition: width .2s ease-in-out;
			    }
			    &:hover {
				&::after {
				    width: 100%;
				}
			    }
			}
		    }
		    a, a:visited, a:active {
			text-decoration: none;
			color: var(--header-text-color);
			display: flex;
			flex-direction: column;
		    }
		}
		h1, h2, h3, h4, h5, h6 {
		    color: var(--header-text-color);
		    margin-top: 0;
		    margin-bottom: 0;
		}
	    }
	}
    }
    #content {
	box-shadow: 5px -5px 5px 0px rgba(0, 0, 0, 0.23);
	margin: 2rem;
	margin-top: 0;
	container-type: inline-size;
	max-width: var(--max-width);
	width: 100%;
	align-items: center;
	margin-top: -3rem;
	border: var(--content-border);
	overflow: hidden;
	a, a:visited {
	    transition: all .2s ease-in-out;
	    color: var(--link-color);
	    &:hover, &:active {
		color: var(--link-color-hover);
	    }
	}
	ul {
	    margin-top: .5rem;
	}
	dl.card-descriptive-list {
	    max-width: 100%;
	    width: 100%;
	    margin: 1rem 0;
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    row-gap: 1rem;
	    column-gap: 1rem;
	    justify-content: left;
	    .description-list-item {
		border: 1px solid var(--description-list-item-border-color);
		border-left: 4px solid var(--description-list-item-border-left-color);
		transition: .2s ease-in-out;
		padding: 2rem;
		max-width: calc(50% - 1rem);
		width: 100%;
		dt {
		    margin-bottom: 0.5rem;
		    position: relative;
		    a i.bi {
			margin-left: .5rem;
			position: absolute;
			right: 0;
		    }
		}
	    }
	    dd {
		margin-left: 0;
		max-width: 20rem;
	    }
	}
	/* Containers within the #content div */
	& > div, & > p {
	    padding-left: 2rem;
	    padding-right: 2rem;
	    padding-bottom: 2rem;
	    margin-bottom: 0;
	    background-color: var(--content-bg-color);
	    width: 100%;
	    max-width: var(--max-width);
	}
	/* First container should have top padding */
	& > div:first-child, & > p:first-child {
	    padding-top: 2rem;
	}
	h1, h2, h3, h4, h5, h6 {
	    margin-top: 0;
	}
	h2 {
	    border-bottom: 1px solid var(--main-border-color);
	}
	h3, h4, h5, h6 {
	    font-weight: normal;
	    margin-bottom: 0;
	}
    }
}

@container (max-width: 1200px) {
    body {
	#content {
	    dl.card-descriptive-list {
		.description-list-item {
		    padding: 1rem;
		    dd {
			max-width: 100%;
		    }
		}
	    }

	}
    }
}

@container (max-width: 600px) {
    body {
	h1, h2, h3, h4, h5, h6 {
	    margin-bottom: .5rem;
	    &:first-child {
		margin-top: 0;
	    }
	}
	#preamble {
	    header {
		padding: 1rem;
		padding-bottom: 1rem;
		nav ul {
		    flex-direction: column;
		    align-items: flex-start;
		    li:first-child {
			margin-bottom: .5rem;
			h1 {
			    margin-bottom: .25rem;
			}
		    }
		    li:not(:first-child) {
			margin-left: 0;
			&:not(:last-child) {
			    margin-bottom: .5rem;
			}
			a {
			    min-width: 5rem;
			}
		    }
		}
	    }
	}
	#content {
	    box-shadow: none;
	    width: 100%;
	    max-width: 100%;
	    margin-top: 0;
	    margin: 0rem;
	    /* Content Sections that aren't last */
	    & > div:not(:last-child) {
		margin-bottom: 0;
	    }
	    /* all Content Sections */
	    & > div {
		padding: 1rem;
		padding-bottom: 1rem;
		p:not(:last-child) {
		    margin-bottom: .5rem;
		}
	    }
	    /* First container should have reduced top padding */
	    & > div:first-child {
		padding-top: 1rem;
	    }
	    dl.card-descriptive-list {
		    row-gap: 0;
		    column-gap: 0;
		.description-list-item {
		    max-width: 100%;
		}
	    }
	}
    }
}
