:root {
    --main-bg-color: whitesmoke;
    --other-bg-color: black;
    --main-border-color: black;
    --main-text-color: black;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--main-text-color);
    min-height: 100dvh;
    background-color: var(--main-bg-color);
    font-family: Verdana, Arial, sans-serif;
    header {
	container-type: inline-size;
	container-name: header;
	padding: 2rem;
	border-bottom: 1px solid var(--main-border-color);
    }
    /* Site Navigation */
    nav {
	ul {
	    list-style: none;
	    padding: 0;
	    margin: 0;
	    display: flex;
	    flex-direction: row;
	    align-items: flex-end;
	    justify-content: space-between;
	    /* The first list item contains the title and subtitle */
	    li:first-child {
		display: flex;
		flex-direction: column;
		h1 {
		    font-size: 2rem;
		    line-height: 2rem;
		}
		h3 {
		    font-weight: normal;
		}
	    }
	    /* Everything besides the first list item is a nav-item */
	    li:not(:first-child) {
		margin-left: 1rem;
		list-style: none;
		display: flex;
		flex-direction: row;
		position: relative;
		font-style: italic;
		height: 2.15rem;
		a, a:visited, a:active {
		    min-width: 5rem;
		    position: relative;
		    display: flex;
		    flex-direction: row;
		    line-height: 2rem;
		    height: 2.15rem;
		    &::before {
			content: '';
			position: relative;
			display: inline-flex;
			margin-right: .5rem;
			border-left: 2px solid var(--main-border-color);
			height: 100%;
		    }
		    &::after {
			position: absolute;
			content: ' ';
			bottom: 0;
			left: 0;
			width: 0%;
			display: inline-block;
			border-bottom: 1px solid var(--main-border-color);
			transition: width .2s ease-in-out;
		    }
		    &:hover {
			&::after {
			    width: 100%;
			}
		    }
		}
	    }
	    a, a:visited, a:active {
		text-decoration: none;
		color: var(--main-text-color);
		display: flex;
		flex-direction: column;
	    }
	}
	h1, h2, h3, h4, h5, h6 {
	    margin-top: 0;
	    margin-bottom: 0;
	}
    }

    #content {
	padding: 2rem;
	container-type: inline-size;
    }
}

@container (max-width: 600px) {
    h1, h2, h3, h4, h5, h6 {
	&:first-child {
	    margin-top: 0;
	}
    }
    header nav ul {
	flex-direction: column;
	align-items: flex-start;
	li:first-child {
	    margin-bottom: 1rem;
	}
	li:not(:first-child) {
	    margin-left: 0;
	    &:not(:last-child) {
		margin-bottom: .5rem;
	    }
	}
    }
}
