:root {
    --main-bg-color: white;
    --main-border-color: black;
    --main-text-color: black;
    
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--main-text-color);    
    header {
	container-type: inline-size;
	container-name: header;
	padding: 1rem;
	border-bottom: 1px solid var(--main-border-color);
    }
    nav {
	ul {
	    list-style: none;
	    padding: 0;
	    margin: 0;
	    display: flex;
	    flex-direction: row;
	    align-items: flex-end;
	    justify-content: space-between;
	    li:not(:first-child) {
		margin-left: 1rem;
		list-style: none;
		display: flex;
		flex-direction: row;
		position: relative;
		a, a:visited, a:active {
		    &::after {
			position: absolute;
			content: ' ';
			bottom: 0;
			left: 0;
			width: 0%;
			display: inline-block;
			border-bottom: 1px solid var(--main-border-color);
			transition: width .2s ease-in-out;
		    }
		    &:hover::after {
			width: 100%;
		    }

		}
	    }
	    a, a:visited, a:active {
		text-decoration: none;
		color: var(--main-text-color);
	    }
	}
	h1, h2, h3, h4, h5, h6 {
	    margin-top: 0;
	    margin-bottom: 0;
	}
    }

    #content {
	padding: 1rem;
    }
}


@container (max-width: 600px) {
    header nav ul {
	flex-direction: column;
	align-items: flex-start;
	li:first-child {
	    
	    margin-bottom: 0.5rem;
	}
	li:not(:first-child) {
	    margin-left: 0;
	}
    }
}
